<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	{% if title %}
	<title>{{ title }} - Material Blog</title>
	{% else %}
	<title>Welcome to Material Blog</title>
	{% endif %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mdblog.css') }}">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Material-Blog</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a></li>
					{% if g.user.is_authenticated() %}
					<li><a href="{{ url_for('timeline') }}">Timeline</a></li>
					<li><a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a></li>
					{% endif %}
				</ul>
				{% if g.user.is_authenticated() %}
				<form action="{{ url_for('search') }}" method="post" name="search" class="navbar-form navbar-left" role="search">
					{{ g.search_form.hidden_tag() }}
					<div class="form-group">
						{{ g.search_form.search(class="form-control", placeholder="Search", type="text", size=20) }}
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
				{% endif %}
				<ul class="nav navbar-nav navbar-right">
					{% if g.user.is_authenticated() %}
					<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
					{% else %}
						{% if g.register_form %}
						<li><a href="{{ url_for('register') }}">Sign Up</a></li>
						{% endif %}
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	{% block content %}{% endblock %}
</body>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>