{% extends "base.html" %}

{% block content -%}
<div class="container percent_30">
    {% include 'message/success.html' %}
    <form action="" method="post" name="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">Says:</span>
                {{ form.post(size=30, maxlength=140, class="form-control") }}
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Post!">
                </span>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-1 col-md-offset-1" align="right">Says: </div>
            <div class="col-md-6">
                {{ form.post(size=30, maxlength=140) }}
            </div>
            <div class="col-md-2" align="right">
                <input type="submit" class="btn btn-primary btn-sm" value="Post!" type="button">
            </div>
        </div> -->
        <!-- <table>
            <tr>
                <td>Say: </td>
                <td>{{ form.post(size=30, maxlength=140) }}</td>
                <td>
                    {% for error in form.post.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Post!"></td>
                <td></td>
            </tr>
        </table> -->
    </form>
    <ul class="list-group">
        {% for post in posts.items -%}
        {% include 'post.html' %}
        {%- endfor %}
    </ul>
    <ul class="pager">
        {% if posts.has_prev -%}
            <li class="previous"><a href="{{ url_for('timeline', nickname=g.user.nickname, page=posts.prev_num) }}">&larr; New</a></li>
        {%- else -%}
            <li class="previous disabled"><span>&larr; New</span></li>
        {%- endif %}
        {% if posts.has_next -%}
            <li class="next"><a href="{{ url_for('timeline', nickname=g.user.nickname, page=posts.next_num) }}">Old &rarr;</a></li>
        {%- else -%}
            <li class="next disabled"><span>Old &rarr;</span></li>
        {%- endif %}
    </ul>
</div>
{%- endblock %}