{% extends "base.html" %}

{% block content %}
    <div class="container percent_40">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-4"><div align="right"><img src="{{ user.avatar(128) }}"></div></div>
                <div class="col-md-8">
                    <h5>{{ user.nickname }}</h5>
                    {% if user.about_me %}
                    <p>{{ user.about_me }}</p>
                    {% endif %}
                    {% if user.last_seen %}
                    <p><i>Last seen on: {{ user.last_seen }}</i></p>
                    {% endif %}
                    <p>
                    {% if user.id == g.user.id %}
                    <a href="{{ url_for('edit') }}" class="btn btn-link btn-xs">Edit</a>
                    {% else %}
                        {% if g.user.is_following(user) %}
                        <a href="{{ url_for('unfollow', nickname=user.nickname) }}" class="btn btn-link btn-xs">Unfollow</a>
                        {% else %}
                        <a href="{{ url_for('follow', nickname=user.nickname) }}" class="btn btn-link btn-xs">Follow</a>
                        {% endif %}
                    {% endif %}
                    </p>
                </div>
            </div>
        </div>

        {% include 'message/success.html' %}
        <ul class="list-group">
            {% for post in posts.items %}
                {% include 'post.html' %}
            {% endfor %}
        </ul>
        <ul class="pager">
            {% if posts.has_prev %}
                <li class="previous"><a href="{{ url_for('user', nickname=g.user.nickname, page=posts.prev_num) }}">&larr; New</a></li>
            {% else %}
                <li class="previous disabled"><span>&larr; New</span></li>
            {% endif %}
            {% if posts.has_next %}
                <li class="next"><a href="{{ url_for('user', nickname=g.user.nickname, page=posts.next_num) }}">Old &rarr;</a></li>
            {% else %}
                <li class="next disabled"><span>Old &rarr;</span></li>
            {% endif %}
        </ul>
    </div>
    <div class="modal" id="editPostModal">
        <div class="modal-dialog">
            <form action="" method="post" name="editpost">
                {{ editpostform.hidden_tag() }}
                {{ editpostform.post_id(type="hidden") }}
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                        <h4 class="modal-title">Edit post</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            {{ editpostform.post(class="form-control input-sm") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{ editpostform.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}