{% extends "base.html" %}

{% block content %}
<div class="container percent_40">
    <form action="" method="post" class="form-horizontal">
    {{ form.hidden_tag() }}
        <fieldset>
            <legend>{{ g.user.nickname }}'s Blog!</legend>
            <div class="form-group">
                <div class="col-lg-12">
                    {{ form.blgPostSub(class="form-control", placeholder="Subject..", type="text") | safe }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    {{ form.blgPostBody(class="form-control", row="3", placeholder="Content here..") }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    {{ form.blgPostBtn(class="btn btn-primary") }}
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- <script language="javascript">
    var editor = new Editor({
        element: document.getElementById('body')
    });
    editor.render();
</script> -->
<script language="javascript">
    var simplemde = new SimpleMDE({
        element: document.getElementById("body")
    });
    simplemde.render();
</script>
{% endblock %}